.star{
	background-image:url('rating.png');
	background-position:left -2px;
	display:block;
	width:20px;
	height:16px;
	line-height:16px;
	float:left;
	cursor: pointer;
	zoom:1;
}

.fullStar{
	background-position:left -59px;
}

.stars{
	overflow: hidden;
}

.tmp_es{
	background-position:left -21px;
}

.tmp_fs{
	background-position:left -40px;
}
